body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fae1dd;
}

.container {
    position: relative;
}

.letter {
    position: relative;
    top: 50px;
    cursor: pointer;
    animation: up 3s linear infinite;
}

.envelope {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f08080;
}

.envelope:before {
    background-color: #f08080;
    content: "";
    position: absolute;
    width: 212px;
    height: 212px;
    transform: rotate(45deg);
    top: -106px;
    left: 44px;
    border-radius: 30px 0 0 0;
}

.card {
    position: absolute;
    background-color: #eae2b7;
    width: 270px;
    height: 170px;
    top: 5px;
    left: 15px;
    box-shadow: -5px -5px 100px rgba(0, 0, 0, 0.4);
    transform-origin: top center;
    transition: transform 1s ease-in-out;
    overflow: hidden;
}

.card:before {
    content: "";
    position: absolute;
    border: 3px solid #003049;
    border-style: dotted;
    width: 240px;
    height: 140px;
    left: 12px;
    top: 12px;
}


.card:hover {
    transform: translateY(-20px);
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.text {
    position: absolute;
    font-family: 'Brush Script MT', cursive;
    font-size: 28px;
    text-align: center;
    line-height: 25px;
    color: #003049;
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

.text-second {
    opacity: 0;
    transition: opacity 2s ease-in-out;
    font-family: 'Brush Script MT', cursive;
    font-size: 28px;
    text-align: center;
    line-height: 25px;
    color: #003049;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.text-second.show {
    opacity: 1;
}



.heart {
    background-color: #d62828;
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 110px;
    left: 105px;
    transform: rotate(-45deg);
    width: 30px;
}

.heart {
    background-color: #d62828;
    display: inline-block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 70%;
    left: 75%;
    transform: translate(-50%, -50%) rotate(-45deg);
    animation: heartbeat 0.7s linear infinite;
}

.heart:before,
.heart:after {
    content: "";
    background-color: #d62828;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
}

.heart:before {
    top: -15px;
    left: 0;
}

.heart:after {
    left: 15px;
    top: 0;
}

.front {
    position: absolute;
    border-right: 180px solid #f4978e;
    border-top: 95px solid transparent;
    border-bottom: 100px solid transparent;
    left: 120px;
    top: 5px;
    width: 0;
    height: 0;
    z-index: 10;
}

.front:before {
    position: absolute;
    content: "";
    border-left: 300px solid #f8ad9d;
    border-top: 195px solid transparent;
    left: -120px;
    top: -95px;
    width: 0;
    height: 0;
}

.shadow {
    position: absolute;
    width: 330px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 265px;
    left: -15px;
    animation: scale 3s linear infinite;
    z-index: -1;
}



@keyframes up {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

@keyframes scale {
    0%, 100% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0.85);
    }
}

@keyframes heartbeat{
    0% {
        transform: rotate(-45deg)
        scale(1.05);
    }
    100%{
        transform: rotate(-45deg)
        scale(1.0);
    }
    100%{
        transform: rotate(-45deg)
        scale(0.9);
    }
}